# Ignore the "tests" folder
tests/

# Ignore IDE settings
.vscode/
.vs/
.idea/
CppProperties.json

# Ignore all ".out" files
*.out

# Ignore the testing executables
simas
simas.exe

# Ignore massif reports
massif.*

# Ignore macOS metadata
._*

*.obj

# testing data
*.sad