# Ignore the "tests" folder
tests/

# Ignore Visual Studio settings
.vscode/
.vs/
CppProperties.json

# Ignore all ".out" files
*.out

# Ignore the testing executables
simas
simas.exe

# Ignore massif reports
massif.*

# Ignore macOS metadata
._*

*.obj